@import './reset';
@import './variable';
@import './mixin';

html, body {
    width: 100%;
}

body {
    @include font_size($font_medium);
    font-family: Helvetica, sans-serif, STHeiTi;
}

img {
    vertical-align: bottom;
}
